{% load static %}



{% block footer %}

<footer>
    <!-- Footer Start-->
    <div class="footer-area py-5 fix d-block">
         <div class="container">
             <div class="row d-flex justify-content-between">
                 <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                     <div class="single-footer-caption">
                         <div class="single-footer-caption">
                             <!-- logo -->
                             <div class="footer-logo">
                                 <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo/logo(white).png' %}" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for sectetuer.</p>
                                 </div>
                             </div>
                             <!-- social -->
                             <div class="footer-social">
                                 <a href="https://vk.com/kurskcityru" target="_blank"><i class="fab fa-vk"></i></a>
                                 <a href="https://t.me/kurskcityru" target="_blank"><i class="fab fa-telegram"></i></a>
                             </div>
                             <br>
                         </div>
                     </div>
                 </div>
                 <div class="col d-md-flex justify-content-end">
                    <div class="" style="width: fit-content;">
                        <h4 class="text-white border-bottom mb-2">Контакты</h4>
                        <br>
                        <ul style="color: #a8a8a8;">
                            <li>Адрес редакции: 305016, г. Курск, ул. Павлуновского, 73</li>
                            <li>Телефон редакции: 8-920-717-88-13</li>
                            <li>E-mail редакции: info@kurskcity.ru</li>
                            <li>
                                <br>
                                По вопросам размещения рекламы обращаться:
                                <ul>
                                    <li>тел.: 8-920-262-70-20</li>
                                    <li>e-mail: reklama@kurskcity.ru</li>
                                </ul>
                            </li>
                            <li></li>
                        </ul>
                    </div>
                 </div>
             </div>
         </div>
     </div>
    <!-- Footer End-->
</footer>

{% endblock %}