{% load static %}

<!-- ------------------------------- header -------------------------------- -->
<header class="container">
    <!-- ---------------------------- under header ----------------------------- -->
    <div class="row mt-2">
        <div class="col d-flex align-content-center">
            <img src="{% static 'assets/icons/phone-icon.svg' %}" id="icon" class="mt-1">
            <span class="text-white ms-2">8-920-717-88-13</span>
        </div>
        <div class="col text-end">
            <a class="text-decoration-none" href="https://t.me/kurskcityru" target="_blank">
                <i class="fa-brands fa-telegram"></i>
            </a>
            <span class="text-white">|</span>
            <a class="text-decoration-none" href="https://vk.com/kurskcityru" target="_blank">
                <i class="fa-brands fa-vk"></i>
            </a>
        </div>  
    </div>
    <!-- ---------------------------- /under header ---------------------------- -->


    <!-- ------------------------------ navigation ------------------------------ -->
    <div class="row text-white p-2 mt-2" id="header">
        <div class="col">
            <h1>LOGO</h1>
        </div>
        <div class="col align-content-center text-end">

            <!-- -------------------------- OffCanvas --------------------------- -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title text-black" id="offcanvasExampleLabel">Logo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body text-start">
                    <div class="">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolor est nostrum vitae eum! Vel iure nobis illum perferendis dolore ducimus nulla hic cum provident itaque iste, perspiciatis officiis sequi.
                        </p>
                    </div>
                    <br>
                    <ul class="">
                        <li><a href="" id="home">Главная</a></li>
                        <li class="my-3"><a href="" class="" id="news">Новости</a></li>
                        <li><a href="" id="contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <!-- ----------------------------- /OffCanvas ------------------------------ -->

            <ul class="nav justify-content-end d-none d-lg-flex">
                <li class="nav-item" id="header-nav-li">
                    <a class="nav-link active" aria-current="page" href="#" id="header-nav-link">Главная</a>
                </li>
                <li class="nav-item" id="header-nav-li">
                    <a class="nav-link" href="#" id="header-nav-link">Новости</a>
                </li>
                <li class="nav-item" id="header-nav-li">
                    <a class="nav-link" href="#" id="header-nav-link">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- ----------------------------- /navigation ----------------------------- -->


</header>
<!-- ------------------------------- /header ------------------------------- -->