{% extends 'base.html' %}
{% load static %}


<!-- ------------------------------ Заголовок ------------------------------ -->
{% block title %}{% endblock %}
<!-- ----------------------------- /Заголовок ------------------------------ -->


<!-- ------------------------------- Ссылки -------------------------------- -->
{% block links %}


{% endblock %}
<!-- ------------------------------- /Ссылки ------------------------------- -->


<!-- ------------------------------- Контент ------------------------------- -->
{% block body %}

Здравствуйте! Для сброса пароля перейдите по ссылке:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% endblock %}
<!-- ------------------------------ /Контент ------------------------------- -->


<!-- ------------------------------- Скрипты ------------------------------- -->
{% block scripts %}


{% endblock %}
<!-- ------------------------------ /Скрипты ------------------------------- -->