{% extends 'base.html' %}
{% load static %}


<!-- ------------------------------ Заголовок ------------------------------ -->
{% block title %}Новости{% endblock %}
<!-- ----------------------------- /Заголовок ------------------------------ -->

<!-- ------------------------------- Ссылки -------------------------------- -->
{% block links %}

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

<!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ticker-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}
<!-- ------------------------------- /Ссылки ------------------------------- -->


<!-- ------------------------------- Контент ------------------------------- -->
{% block body %}

{% include 'components/header.html' %}
    <main>
   <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-12 col-md-12">
                            <div class="properties__button">
                                <!--Nav Button  -->                                            
                                <nav style="background-color: #f7f7f7;">                                                       
                                    <div class="nav p-0 m-0 nav-tabs mb-0" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link" id="nav-home-tab" href="{% url 'category' %}?category=all">Все</a>
                                        {% for category in categories %}
                                            <a class="nav-item nav-link" id="nav-profile-tab" href="{% url 'category' %}?category={{category}}">{{category}}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="align-content-center p-3">
                                        <input class="form-control" id="inpSearch" type="text" placeholder="Поиск">
                                    </div>
                                </nav>
                                <!--End Nav Button  -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- news/list.html -->
                                <div class="news-item">
                                    <div class="row row-cols-1 row-cols-md-2 g-2">
                                        {% if news %}
                                            <div class="alert mt-4 d-none alert-primary w-100" id="news-alert">
                                                <h5 class="text-center">Новости по данному запросу не найдены</h5>
                                            </div>
                                            {% for item in news %}
                                                <div class="col-6 col-md-3 mt-5" id="block-card">
                                                    <div id="card" class="card border border-0">
                                                        <a href="{% url 'postdetail' item.pk %}">
                                                            <img src="{{item.image.url}}" class="card-img-top" alt="...">
                                                            <div class="card-body p-0 pt-1">
                                                                <h5 id="card-title" class="card-title text-black">{{item.title}}</h5>
                                                                <p class="card-text" style="
                                                                display: -webkit-box;
                                                                -webkit-line-clamp: 3;
                                                                -webkit-box-orient: vertical;
                                                                overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                ">{{item.content}}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="alert alert-primary w-100 mt-4 px-4">
                                                <h5 class="text-center">Новостей еще нет</h2>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            <!-- Pagination -->
                            <nav aria-label="Page navigation" class="my-5">
                                <ul class="pagination justify-content-center">
                                    {% for num in news.paginator.page_range %}
                                        {% if news.number == num %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Whats New End -->
    </main>

    {% include 'components/footer.html' %}


{% endblock %}
<!-- ------------------------------ /Контент ------------------------------- -->


<!-- ------------------------------- Скрипты ------------------------------- -->
{% block scripts %}

<!-- All JS Custom Plugins Link Here here -->
<script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- Date Picker -->
<script src="{% static 'assets/js/gijgo.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/animated.headline.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Breaking New Pluging -->
<script src="{% static 'assets/js/jquery.ticker.js' %}"></script>
<script src="{% static 'assets/js/site.js' %}"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

<!-- contact js -->
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/search.js' %}"></script>

{% endblock %}
<!-- ------------------------------ /Скрипты ------------------------------- -->