{% extends 'base.html' %}
{% load static %}


<!-- ------------------------------ Заголовок ------------------------------ -->
{% block title %}{% endblock %}
<!-- ----------------------------- /Заголовок ------------------------------ -->


<!-- ------------------------------- Ссылки -------------------------------- -->
{% block links %}


{% endblock %}
<!-- ------------------------------- /Ссылки ------------------------------- -->


<!-- ------------------------------- Контент ------------------------------- -->
{% block body %}


{% endblock %}
<!-- ------------------------------ /Контент ------------------------------- -->


<!-- ------------------------------- Скрипты ------------------------------- -->
{% block scripts %}


{% endblock %}
<!-- ------------------------------ /Скрипты ------------------------------- -->