{% extends 'base.html' %}
{% load static %}


<!-- ------------------------------ Заголовок ------------------------------ -->
{% block title %}Рассмотрение: {{object.title}}{% endblock %}
<!-- ----------------------------- /Заголовок ------------------------------ -->


<!-- ------------------------------- Ссылки -------------------------------- -->
{% block links %}

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ticker-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/post_edit.css' %}">
{% endblock %}
<!-- ------------------------------- /Ссылки ------------------------------- -->


<!-- ------------------------------- Контент ------------------------------- -->
{% block body %}

{% include 'components/header.html' %}

<!-- About US Start -->
<div class="about-area mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Trending Tittle -->
                <div class="about-right mb-90">
                    <div class="about-img">
                        <img id="about-img" src="{{object.image.url}}" alt="">
                    </div>
                    <div class="section-tittle mb-30 pt-30">
                        <div class="row mb-4">
                            <div class="col">
                                {% if postinfo.author.username %}
                                    <strong>Автор: <a class="text-primary" href="{% url 'profile' postinfo.author.username %}">{{postinfo.author.username}}</a></strong>
                                {% else %}
                                    Автор неизвестен
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>{{form.title.label}}</strong>
                                {{form.title}}
                            </div>
                        </div>
                    </div>
                    <div class="about-prea">
                        <p class="about-pera1">
                            <h3>Описание</h3>
                            {{form.content}}
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <form action="{% url 'post_accept' object.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success w-100" type="submit">Опубликовать</button>
                </form>
            </div>
            <div class="col">
                <form action="{% url 'post_decline' object.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger w-100" type="submit">Отклонить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- About US End -->
</main>
{% include 'components/footer.html' %}

{% if form.errors %}
<div class="toast fade show position-fixed start-0 bottom-0 m-3">
  <div class="toast-body bg-danger">
      <div class="row">
          <div class="col-10 text-white">
            {% for field in form %}
              {{field.errors}}
            {% endfor %}
          </div>
          <div class="col text-end">
              <div class="btn-close btn-close-white" data-bs-dismiss="toast"></div>
          </div>
      </div>
  </div>
</div>
{% endif %}

{% endblock %}
<!-- ------------------------------ /Контент ------------------------------- -->


<!-- ------------------------------- Скрипты ------------------------------- -->
{% block scripts %}
<!-- All JS Custom Plugins Link Here here -->
<script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- Date Picker -->
<script src="{% static 'assets/js/gijgo.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/animated.headline.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Breaking New Pluging -->
<script src="{% static 'assets/js/jquery.ticker.js' %}"></script>
<script src="{% static 'assets/js/site.js' %}"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

<!-- contact js -->
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

{% endblock %}
<!-- ------------------------------ /Скрипты ------------------------------- -->