{% extends 'base_profile.html' %}
{% load static %}


<!-- ------------------------------- Контент ------------------------------- -->
{% block profile_info %}

<div class="col">
    {% if userinfo.first_name %}
    <div class="row my-3">
        <div class="col-sm-3">
            <h6 class="mb-0">Имя</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{userinfo.first_name}}
        </div>
    </div>
    {% endif %}
    {% if userinfo.last_name %}
    <div class="row my-3">
        <div class="col-sm-3">
            <h6 class="mb-0">Фамилия</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{userinfo.last_name}}
        </div>
    </div>
    {% endif %}
    {% if userinfo.email %}
    <div class="row my-3">
        <div class="col-sm-3">
            <h6 class="mb-0">Почта</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{userinfo.email}}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {% if user == userinfo or user.role == 'Администратор' %}
                <a class="btn btn-info w-100 " target="__blank" href="{% url 'profile_edit' userinfo.pk %}">Редактировать</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
<!-- ------------------------------ /Контент ------------------------------- -->

{% block posts %}

<div class="card row mb-5 mx-1">
    <div class="col card-body">
        <h3 class="my-4">Посты</h3>
        <div class="">
            {% for post in userposts %}

                <div class="card my-3" style="">
                    <a href="{% url 'postdetail' post.id %}">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 card-body">
                                <h5 class="card-title text-black">{{post.title}}</h5>
                                <p class="card-text" style="
                                display: -webkit-box;
                                -webkit-line-clamp: 6;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                ">{{post.content}}</p>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}